language: android
android:
  components:
    # Uncomment the lines below if you want to
    # use the latest revision of Android SDK Tools
    - tools
    - platform-tools
    - tools

    # The BuildTools version used by your project
    - build-tools-27.0.3

    # The SDK version used to compile your project
    - android-27
    - android-24

    # Additional components
    - extra-google-google_play_services
    - extra-google-m2repository
    - extra-android-m2repository
    - extra-android-support

    # Specify at least one system image,
    # if you need to run emulator(s) during your tests
    - sys-img-armeabi-v7a-$ANDROID_TARGET
    # - sys-img-armeabi-v7a-android-17

env:
  matrix:
    - ANDROID_TARGET=android-24  ANDROID_ABI=armeabi-v7a

before_cache:
  - rm -f  $HOME/.gradle/caches/modules-2/modules-2.lock
  - rm -fr $HOME/.gradle/caches/*/plugin-resolution/
cache:
  directories:
    - $HOME/.gradle/caches/
    - $HOME/.gradle/wrapper/
    - $HOME/.android/build-cache

notifications:
  email:
    - ddmeng@thoughtworks.com

jobs:
  include:
    - stage: Static Analysis
      name: ktlin
      script: ./gradlew ktlint
    - script: ./gradlew lint
      name: lint
    - stage: Tests
      name: Unit Tests
      script: ./gradlew test
    - script: ./gradlew connectedAndroidTest
      name: Instrumentation Tests
    # Emulator Management: Create, Start and Wait
      before_script:
      - echo no | android create avd --force -n test -t $ANDROID_TARGET --abi $ANDROID_ABI
      - emulator -avd test -no-window &
      - android-wait-for-emulator
      - adb shell input keyevent 82 &
